* {
    box-sizing: border-box;
}

body {
    font-family: "Trebuchet MS", Sans-serif;
    display: flex;
    align-items: center;
    height: 100vh;
}

#main {
    border: 1px solid #434344;
    background-color: #e15d60;
    position: relative;
    margin: auto;
}

#menu {
    height: 100vh;
    width: auto;
    position: fixed;
    top: 0;
    border: #434344 solid 1px;
}

table {
    border-spacing : 20px;
}

.tile {
    border: 1px solid #434344;
    background-color: #7c7c7e;
    position: absolute;
    display: inline-block;
}
